/SEProject/nbproject/private/
/SEProject/build/
/ProjectApp/nbproject/private/
/ProjectApp/build/
/ProjectApp/dist/
/ProjectApp copia/build/
/ProjectApp copia/dist/
/ProjectApp copia/nbproject/private/
